import * as Styled from './styles';

export type {{pascalCase name}}Props = {
  title?: string;
};

export function {{pascalCase name}}({ title = 'Exemplo' }: {{pascalCase name}}Props) {
  return (
    <Styled.Wrapper>
      <h1>{title}</h1>
    </Styled.Wrapper>
  );
}
